* {
    box-sizing: border-box;
}

:root {
    --border: 1px solid black;
    --label-color: goldenrod;
}

body {
    background-color: rgb(255, 247, 241);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    height: 3em;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 0.8em;
}

main {
    display: flex;
    place-content: center;
}

label {
    font-size: 0.6em;
    color: var(--label-color);
}

button {
    appearance: none;
    border: var(--border);
    background-color: transparent;
    cursor: pointer;
    font-size: 0.7em;
    color: var(--label-color);
}

.radio {
    border: var(--border);
    height: 25em;
    width: 42em;
    border-radius: 0.5em;
    display: flex;
}
.speaker-container {
    width: 40%;
    display: grid;
    grid-template-areas:
        "a a"
        "b c";
    gap: 1em;
    margin: 1em 1.5em 1.5em 1.5em;
}
.speaker-grill {
    height: 20em;
    grid-area: a;
    background-image: radial-gradient(
        hsla(0, 0%, 0%, 0.6) 1px,
        transparent 1px
    );
    background-size: 4px 4px;
}
.brand {
    grid-area: b;
    text-transform: uppercase;
    font-weight: 600;
}
.model-no {
    font-size: 0.8em;
    text-align: right;
    grid-area: c;
}

.ui-container {
    width: 45%;
    margin: 0.5em 0 1.5em 0.5em;
}

.display-lens {
    border: 1px black solid;
    border-radius: 0.2em;
    height: 8em;
    display: flex;
    padding: 0.2em;
}
.display-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    /* row-gap: 1em; */
    /* margin-top: 0.5em; */
    align-items: center;
}

/* .display-btns > * {
    display: flex;
} */

.display-btns label {
    margin: 0 0.5em;
}

.time-btn {
    --height: 0.7em;
    height: var(--height);
    width: 2em;
    border: var(--border);
    border-radius: calc(var(--height) / 2);
}

.lcd {
    flex-grow: 1;
    border: 0.2em solid var(--label-color);
    border-radius: 0.5em;
    /* margin: 0.2em; */
}
.lcd > time {
    font-style: italic;
}

.btns-container {
    display: flex;
    padding: 0.5em 0 0 0.5em;
    justify-content: space-between;
}

.band-selectors {
    display: flex;
    /* gap: 1em; */
    justify-content: space-between;
}

.band-selectors button {
    --height: 1em;
    height: var(--height);
    width: 2em;
    border-radius: calc(var(--height) / 2);
}

.band-selectors > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1em;
}

.numeric-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding-top: 1em;
}
.numeric-btns > :last-child {
    grid-column: 2/-1;
}

.numeric-btns > button {
    --height: 1.5em;
    height: var(--height);
    width: 3em;
    border-radius: calc(var(--height) / 2);
}

.freq-btns {
    --height: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.freq-btns > button {
    border-radius: calc(var(--height) / 2);
}
.freq-btns > label {
    align-self: center;
}
button.tune {
    height: 3em;
    border-radius: 0.8em 0.8em 0 0;
}
.down {
    transform: rotate(180deg) translateY(0.5em);
}
.power-container {
    margin-top: 0.3em;
}
.power {
    height: 1.3em;
    width: 4em;
    border-radius: 0 0.8em 0.8em 0;
}

.power .dot {
    border-radius: 50%;
    height: 0.5em;
    width: 0.5em;
    background-color: darkred;
}
